body{
    font-family: "Microsoft YaHei";
}
*{padding: 0;margin: 0;}
.main-wrap{
    background-color: #fff;
}
.rt{
    float:right;
}
.lf{
    float:left;
}
.trt{
    text-align: right;
}
.tct{
    text-align: center;
}
.vbm{
    vertical-align: bottom;
}
.vtmiddle{
    vertical-align: middle;
}
.lh50{
    line-height: 50px;
}
.mt5{
    margin-top:5px;
}
.clear{
    clear: both;
}
.mb10{
    margin-bottom: 10px;
}
.mt6{
    margin-top: 6px;
}
.mt10{
    margin-top: 10px;
}
.mt20{
    margin-top: 20px;
}
.mt50{
    margin-top: 50px;
}
.pt20{
    padding-top:20px;
}
.pr10f{
    padding-right: 10%;
}
.hot-line{
    vertical-align: bottom;
    margin-top:66px ;
}
.nav-top{
    margin-top:20px;
    padding: 0 3%;
    margin-bottom: 20px;
    overflow: hidden;
}
.my-input-file{
    border: none;
    box-shadow: none;
    height: auto;
}
.main-part{
    clear: both;
    width: 94%;
    margin: 0px auto;
    margin-top: 20px;
    background-color: #3CF;
    border-radius: 10px;
    height: 1000px;
    position: relative;

}
.left_box{
    position: absolute;
    left: 50px;
    top:50px;
    width: 500px;
    border-radius: 10px;
}
.my-panel-default{
    border-radius: 10px;
}
.right-box{
    position: absolute;
    left: 700px;
    top:50px;
    width: 35%;
    padding-right: 20px;
    border-radius: 10px;
}
.my-nav-tabs{
    width: 100%;
    background-color: rgb(245,245,245);
}
.my-nav-tabs>li{
    text-align: center;
    width: 100px;
}
.my-nav-tabs>li>a{
    border: none;
    border-radius: 0;
}
.my-nav-tabs>li:active>a{
   border: none;
    border-radius: 0;
}
.my-tab-content{
    padding-top: 30px;
    background-color: #fff;
    padding-right: 10px;
    height: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.pos-pic-box{
    position: absolute;
    left: 50px;
    top:410px;
    width: 500px;
    border-radius: 10px;
    overflow: hidden;

}
.pos-pic{
    width: 500px;
}
.my-row{
    margin-left: 50px;
   position: relative;
    top: 50px;
}
.shop-info{
    position: relative;
}
.my-nav-tabs-1{
    position: absolute;
    width: 83%;
    background-color: #f4f4f4;
    list-style: none;
}
.my-nav-tabs-1>li{
    line-height: 40px;
}
.display-none{
    display: none;
}
.my-tab-content-1{
   margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    background-color: #fff;
}
.my-table{
    text-align: center;
    line-height: 30px;
}
.my-table thead tr{
    background-color:#3fc ;
}
.my-table thead tr th{
    text-align: center;
}
.alert-box{
    position: absolute;
    top: -180px;
    left: 310px;
    height:200px;
    width:300px;
    padding: 20px;
    padding-top: 50px;
    font-size: 14px;
}
.my-close{
    position: absolute;
    top:0px;
    right: 0px;
    font-size: 30px;
}
